@using e_commerceMVC.Models.Entity
@model List<tbl_Category>
@{
    ViewBag.Title = "EditCategories";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<h2>EditCategories</h2>

<div class="table-responsive">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Product_CategoryID
                    </td>
                    <td>
                        @item.Category_Name
                    </td>
                    <td>
                        <a class="btn btn-danger" href="/Admin/DeleteCategories/@item.Product_CategoryID"> DELETE </a>
                    </td>
                    <td>
                        <a class="btn btn-success" href="/Admin/UpdateCategories/@item.Product_CategoryID"> UPDATE </a>
                    </td>

                </tr>

            }
        </tbody>
    </table>
</div>