@{
    ViewBag.Title = "Stables Store";
}

<!-- Slider -->
<!--First Slider-->
<div class="container-fluid p-0">
    <div class="site-slider">
        <div class="slider-one">
            <div>
                
                <img src="~/assets/item-1.jpg" class="img-fluid " alt="Slider 1" />
            </div>
            <div>
                <img src="~/assets/banner2.jpg" class="img-fluid " alt="Slider 2" />
            </div>
            <div>
                <img src="~/assets/banner4.jpg" class="img-fluid " alt="Slider 3" />
            </div>
        </div>
        <div class="slider-btn">
            <span class="prev position-top"><i class="fas fa-chevron-left"></i></span>
            <span class="next position-top right-0"><i class="fas fa-chevron-right"></i></span>
        </div>
    </div>
</div>


<!-- Cards -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card z-depth-1">
                <div class="view zoom">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" class="img-fluid"
                         alt="">
                    <div class="my-stripe my-dark">
                        <a>
                            <p class="pt-3">
                                Trousers
                                <i class="fas fa-angle-right"></i>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- second column-->
        <div class="col-lg-3 col-md-6">
            <div class="card z-depth-1">
                <div class="view zoom">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" class="img-fluid"
                         alt="">
                    <div class="my-stripe my-light">
                        <a>
                            <p class="pt-3">
                                Sweatshirt
                                <i class="fas fa-angle-right"></i>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- third column-->
        <div class="col-lg-3 col-md-6">
            <div class="card z-depth-1">
                <div class="view zoom">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" class="img-fluid"
                         alt="">
                    <div class="my-stripe my-dark">
                        <a>
                            <p class="pt-3">
                                Black Hat
                                <i class="fas fa-angle-right"></i>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Last column-->
        <div class="col-lg-3 col-md-6">
            <div class="card z-depth-1">
                <div class="view zoom">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" class="img-fluid"
                         alt="">
                    <div class="my-stripe my-light">
                        <a>
                            <p class="pt-3">
                                Sweatshirt
                                <i class="fas fa-angle-right"></i>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<!--New Product-->

<div class="back-color">
    <div class="container my-container" style="margin-top:5rem;">
        <div class="row">
            <div class="col-lg-8 product-left">
                <img src="~/assets/shoes-1.png" class="img-fluid" />
            </div>
            <div class="col-lg-4 product-right">
                <div class="mt-4 ml-3">
                    <h1 style="color:#f24160">New Product*</h1>
                </div>
                <div class="row mt-1 ml-3 mr-3 row2">
                    <h2>Nike AirMax 90</h2>
                    <h5>
                        Iconic kicks remade for kids to get in and out of quickly? We're in! The Nike Air Max 90 FlyEase is super-easy—stomp on the heel, slip your foot in and watch the shoe pop back into place. So magical that you'll need to feel it to believe it.
                    </h5>
                </div>
                <div class="row align-self-end my-row">
                    <a href='#'><button type="button" class="btn btn-outline-light rounded-pill">Add to Cart</button></a>
                    <a href='#'><button type="button" class="btn btn-light rounded-pill ml-2">Buy Now!</button></a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Best Seller -->

<div class="container mt-5">
    <h2 class="mb-3">Bestsellers*</h2>
    <!-- First Row -->
    <div class="card-deck">
        <div class="card">
            <a class="mx-auto" href="#" title="View"><img class="img-fluid" src="~/assets/t-shirt.png" /></a>
            <div class="card-body">
                <a class="brand" href="#" title="Brand"><h4>Jack & Jones</h4></a>
                <a class="product-details" href="#" title="View"><p class="product-details">Erkek Basic T-Shirt Kodu</p></a>
                <a class="old-price my-price" href="#" title="View"><h5 class="old-price-color">$27.21</h5></a>
                <a class="new-price my-price" href="#" title="View"><h5>$13.99</h5></a>
            </div>
        </div>
        <div class="card">
            <a class="mx-auto" href="#" title="View"><img class="img-fluid" src="~/assets/t-shirt.png" /></a>
            <div class="card-body">
                <a class="brand" href="#" title="Brand"><h4>H&M</h4></a>
                <a class="product-details" href="#" title="View"><p class="product-details">Erkek Basic T-Shirt Kodu</p></a>
                <a class="old-price my-price" href="#" title="View"><h5 class="old-price-color">$27.21</h5></a>
                <a class="new-price my-price" href="#" title="View"><h5>$13.99</h5></a>
            </div>
        </div>
        <div class="card">
            <a class="mx-auto" href="#" title="View"><img class="img-fluid" src="~/assets/t-shirt.png" /></a>
            <div class="card-body">
                <a class="brand" href="#" title="Brand"><h4>Calvin Klein</h4></a>
                <a class="product-details" href="#" title="View"><p class="product-details">Erkek Basic T-Shirt Kodu</p></a>
                <a class="old-price my-price " href="#" title="View"><h5 class="old-price-color">$27.21</h5></a>
                <a class="new-price my-price" href="#" title="View"><h5>$13.99</h5></a>
            </div>
        </div>
        <div class="card">
            <a class="mx-auto" href="#" title="View"><img class="img-fluid" src="~/assets/t-shirt.png" /></a>
            <div class="card-body">
                <a class="brand" href="#" title="Brand"><h4>Zara</h4></a>
                <a class="product-details" href="#" title="View"><p class="product-details">Erkek Basic T-Shirt Kodu</p></a>
                <a class="old-price my-price" href="#" title="View"><h5 class="old-price-color">$27.21</h5></a>
                <a class="new-price my-price" href="#" title="View"><h5>$13.99</h5></a>
            </div>
        </div>
    </div>

    <!--Second Row-->
    <div class="card-deck mt-3">
        <div class="card">
            <a class="mx-auto" href="#" title="View"><img class="img-fluid" src="~/assets/t-shirt.png" /></a>
            <div class="card-body">
                <a class="brand" href="#" title="Brand"><h4>Lacoste</h4></a>
                <a class="product-details" href="#" title="View"><p class="product-details">Erkek Basic T-Shirt Kodu</p></a>
                <a class="old-price my-price" href="#" title="View"><h5 class="old-price-color">$27.21</h5></a>
                <a class="new-price my-price" href="#" title="View"><h5>$13.99</h5></a>
            </div>
        </div>
        <div class="card">
            <a class="mx-auto" href="#" title="View"><img class="img-fluid" src="~/assets/t-shirt.png" /></a>
            <div class="card-body">
                <a class="brand" href="#" title="Brand"><h4>Mavi</h4></a>
                <a class="product-details" href="#" title="View"><p class="product-details">Erkek Basic T-Shirt Kodu</p></a>
                <a class="old-price my-price" href="#" title="View"><h5 class="old-price-color">$27.21</h5></a>
                <a class="new-price my-price" href="#" title="View"><h5>$13.99</h5></a>
            </div>
        </div>
        <div class="card">
            <a class="mx-auto" href="#" title="View"><img class="img-fluid" src="~/assets/t-shirt.png" /></a>
            <div class="card-body">
                <a class="brand" href="#" title="Brand"><h4>Pull & Bear</h4></a>
                <a class="product-details" href="#" title="View"><p class="product-details">Erkek Basic T-Shirt Kodu</p></a>
                <a class="old-price my-price " href="#" title="View"><h5 class="old-price-color">$27.21</h5></a>
                <a class="new-price my-price" href="#" title="View"><h5>$13.99</h5></a>
            </div>
        </div>
        <div class="card">
            <a class="mx-auto" href="#" title="View"><img class="img-fluid" src="~/assets/t-shirt.png" /></a>
            <div class="card-body">
                <a class="brand" href="#" title="Brand"><h4>Adidas</h4></a>
                <a class="product-details" href="#" title="View"><p class="product-details">Erkek Basic T-Shirt Kodu</p></a>
                <a class="old-price my-price" href="#" title="View"><h5 class="old-price-color">$27.21</h5></a>
                <a class="new-price my-price" href="#" title="View"><h5>$13.99</h5></a>
            </div>
        </div>
    </div>
</div>

<!-- Street Style-->
<div class="container-fluid mt-5">
    <h2 class="text-center">#StreetStyle</h2>
    <div class="card my-border mt-3">
        <div class="row">
            <div class="col-lg-2 col-md-4">
                <div class="card my-black">
                    <div class="my-image">
                        <a href="#"><div class="overlay"></div></a>
                        <span class="username">@@elisa</span>
                        <span class="opalic-buy text-center">Buy</span>
                        <a href="#"><img class="card-img-top img-fluid rounded-0" src="~/assets/user1.jpg" /></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card my-black">
                    <div class="my-image">
                        <a href="#"><div class="overlay"></div></a>
                        <span class="username">@@sindyblack</span>
                        <span class="opalic-buy text-center">Buy</span>
                        <a href="#"><img class="card-img-top img-fluid rounded-0" src="~/assets/user3.jpg" /></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card my-black">
                    <div class="my-image">
                        <a href="#"><div class="overlay"></div></a>
                        <span class="username">@@badboy</span>
                        <span class="opalic-buy text-center">Buy</span>
                        <a href="#"><img class="card-img-top img-fluid rounded-0" src="~/assets/user4.jpg" /></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card my-black">
                    <div class="my-image">
                        <a href="#"><div class="overlay"></div></a>
                        <span class="username">@@pinkcinderella</span>
                        <span class="opalic-buy text-center">Buy</span>
                        <a href="#"><img class="card-img-top img-fluid rounded-0" src="~/assets/user2.jpg" /></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card my-black">
                    <div class="my-image">
                        <a href="#"><div class="overlay"></div></a>
                        <span class="username">@@angel</span>
                        <span class="opalic-buy text-center">Buy</span>
                        <a href="#"><img class="card-img-top img-fluid rounded-0" src="~/assets/user5.jpg" /></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card my-black">
                    <div class="my-image">
                        <a href="#"><div class="overlay"></div></a>
                        <span class="username">@@michealll</span>
                        <span class="opalic-buy text-center">Buy</span>
                        <a href="#"><img class="card-img-top img-fluid rounded-0" src="~/assets/user6.jpg" /></a>
                    </div>

                </div>
            </div>

        </div>


        <!-- Second row-->
        <div class="row mt-4">
            <div class="col-lg-2 col-md-4">
                <div class="card my-black">
                    <div class="my-image">
                        <a href="#"><div class="overlay"></div></a>
                        <span class="username">@@july.kresneme</span>
                        <span class="opalic-buy text-center">Buy</span>
                        <a href="#"><img class="card-img-top img-fluid rounded-0" src="~/assets/user8.jpg" /></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card my-black">
                    <div class="my-image">
                        <a href="#"><div class="overlay"></div></a>
                        <span class="username">@@jack_alina</span>
                        <span class="opalic-buy text-center">Buy</span>
                        <a href="#"><img class="card-img-top img-fluid rounded-0" src="~/assets/user10.jpg" /></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card my-black">
                    <div class="my-image">
                        <a href="#"><div class="overlay"></div></a>
                        <span class="username">@@kylie.jonson1</span>
                        <span class="opalic-buy text-center">Buy</span>
                        <a href="#"><img class="card-img-top img-fluid rounded-0" src="~/assets/user7.jpg" /></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card my-black">
                    <div class="my-image">
                        <a href="#"><div class="overlay"></div></a>
                        <span class="username">@@natasia</span>
                        <span class="opalic-buy text-center">Buy</span>
                        <a href="#"><img class="card-img-top img-fluid rounded-0" src="~/assets/user12.jpg" /></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card my-black">
                    <div class="my-image">
                        <a href="#"><div class="overlay"></div></a>
                        <span class="username">@@fakekobe</span>
                        <span class="opalic-buy text-center">Buy</span>
                        <a href="#"><img class="card-img-top img-fluid rounded-0" src="~/assets/user9.jpg" /></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card my-black">
                    <div class="my-image">
                        <a href="#"><div class="overlay"></div></a>
                        <span class="username">@@alan.michel</span>
                        <span class="opalic-buy text-center">Buy</span>
                        <a href="#"><img class="card-img-top img-fluid rounded-0" src="~/assets/user11.jpg" /></a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>