
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="~/Content/Login.css" rel="stylesheet" />
<div class="container">
    <div class="row">

        <div class="col-lg-6 col-md-8 login-box mx-auto">
            <div class="col-lg-12 login-key mt-1">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title text-center">
                REGISTER
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form>
                        <div class="form-group">
                            <label class="login-control-label mb-0">NAME</label>
                            <input type="text" class="login-control w-100">
                        </div>
                        <div class="form-group">
                            <label class="login-control-label mb-0">SURNAME</label>
                            <input type="text" class="login-control w-100">
                        </div>
                        <div class="form-group">
                            <label class="login-control-label mb-0">E-MAIL</label>
                            <input type="text" class="login-control w-100">
                        </div>
                        <div class="form-group">
                            <label class="login-control-label mb-0 ">PASSWORD</label>
                            <input type="password" class="login-control w-100" i>
                        </div>
                        <div class="form-group">
                            <label class="login-control-label mb-0">VERIFY PASSWORD</label>
                            <input type="text" class="login-control w-100">
                        </div>
                        <div class="form-group">
                            <label class="login-control-label mb-0">PHONE NUMBER</label>
                            <input type="text" class="login-control w-100">
                        </div>
                        <div class="form-group">
                            <label class="login-control-label mb-0">ADDRESS</label>
                            <input type="text" class="login-control w-100">
                        </div>

                        <div class="col-lg-12 px-0 py-0 offset-3">
                            <div class="col-lg-6 login-btm login-text">
                                <!-- Error Message -->
                            </div>
                            <div class="col-lg-6 login-btm pr-0 mb-4">
                                <button type="submit" class="btn btn-outline-primary w-100">SIGN UP</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

